@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1B5E20;
  --secondary: #F5F5DC;
  --accent: #5D4037;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
